<% if @post.comments.empty?%>
   No comments found..
<% else %>
   <% @post.comments.each do |comment| %>
      <div style="padding: 10px; margin: 10px; background: lightgreen; border: 2px solid green">
	   <%= simple_format(comment.comment)%>
         <br />
         <small>comment posted on: <%= format_date(comment.created_at) %></small><br />
         <%= link_to "Delete this comment", post_comment_path(comment.post_id, comment.id), :method => :delete, :data => {:confirm => "Are you sure?"} %>

      </div>
   <% end %>
<% end %>