<div id="header">
	<h2>The BlogApp</h2>

		<div id="nav">
			<%= link_to "Posts", posts_path, :class => (params[:controller]=="posts" ? "active" : "")%>
			<%= link_to "Categories", categories_path, :class => (params[:controller]=="categories" ? "active" : "")%>
		</div>
  </div>