<h2>Categories</h2>

<%= link_to "view all categories", categories_path %>

<hr />

<h3>Create New Categories </h3>

<div style="border: 2px solid #efefef; background-color: lightyellow; padding: 10px">

  <%= render :partial => "form" %>

</div>